{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "scripts/generate-migration.js": [
    "prettier --write"
  ],
  "db/schema/utils.ts": [
    "prettier --write"
  ]
} 